/* 캘린더 전체 영역 */
.calendar_page {
  width: 90%;
  min-height: 1000px;
  margin: 0 auto 50px;
  padding: 30px;
  border: 2px solid #e5e7eb;
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px black;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar_page .page_title {
  text-align: center;
  margin-bottom: 30px;
}

.calendar_page .page_title h1 {
  font-family: "SUIT-Regular", sans-serif;
  font-size: 30px;
  margin: 0 0 -10px 0;
  color: #333;
}

.calendar_page .page_title p {
  font-size: 15px;
  color: #6b7280;
  margin-top: 20px;
}

/* 캘린더 상단 (년/월 이동 버튼) */
.calendar_top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

#calendarTitle {
  font-family: "SUIT-Regular", sans-serif;
  font-size: 25px;
  margin: 0;
  color: #333;
  width: 200px;
  text-align: center;
}

.nav-btn {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  font-size: 24px;
  cursor: pointer;
  padding: 5px 15px;
  background-color: #f9fafb;
  color: #6b7280;
}

.nav-btn:hover {
  background-color: #e5e7eb;
  color: #333;
}

/* 요일, 날짜 공통 영역 */
.calendar_week,
.calendar_dates {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar_container {
  width: 100%;
}

.calendar_dates {
  width: 100%;
}

/* 요일 영역 */
.calendar_week div {
  text-align: center;
  font-family: "SUIT-Regular", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #6b7280;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e7eb;
}

.calendar_week div:first-child {
  color: #ef4444;
}

.calendar_week div:last-child {
  color: #3b82f6;
}

.date-cell {
  background-color: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  min-height: 130px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.date-number {
  font-family: "SUIT-Regular", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.today {
  border: 3px solid #2563eb;
}

.today .date-number {
  color: #2563eb;
}

/* 캘린더 페이지 영역 */
.task-area {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.calendar-task {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 6px;

  background-color: #dbeafe;
  color: #1d4ed8;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.other-month {
  background-color: #f3f4f6;
}

.other-month .date-number {
  color: #9ca3af;
}
