.task_page {
  width: 100%;
  min-height: 700px;
  padding: 60px 80px;
  background-color: #f8fafc;
}

.page_title {
  margin-bottom: 34px;
}

.page_title h1 {
  font-size: 30px;
  color: #111827;
  line-height: 1;
  margin-bottom: 12px;
}

.page_title p {
  font-size: 20px;
  color: #64748b;
  line-height: 1.2;
}

.task_filter {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task_filter button {
  height: 35px;
  padding: 0 15px;
  border: 1px solid #d1d5db;
  border-radius: 19px;
  background-color: white;

  font-family: "Jalnan2", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.task_filter button.active {
  background-color: #2563eb;
  color: white;
  border-color: #2563eb;
}

.task_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 15px;
}

.task_item {
  min-height: 88px;
  padding: 18px 24px;
  border: 2px solid #dbe3ee;
  border-radius: 14px;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task_item:hover {
  border-color: #cbd5e1;
}

.task_info {
  flex: 1;
}

.task_info h2 {
  font-size: 20px;
  color: #111827;
  line-height: 1;
  margin-bottom: 10px;
}

.task_info p {
  font-size: 18px;
  color: #64748b;
  line-height: 1;
}

.badge {
  font-size: 14px;
  white-space: nowrap;
  border-radius: 10px;
  padding: 8px 12px;
}

.badge_important {
  background-color: #fee2e2;
  color: #ef4444;
}

.badge_normal {
  background-color: #fef3c7;
  color: #92400e;
}

.badge_done {
  background-color: #dcfce7;
  color: #16a34a;
}

/* 관리 페이지 삭제, 추가 버튼 */
.task_actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.edit_btn,
.delete_btn {
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: "Jalnan2", sans-serif;
  font-size: 15px;
}

.edit_btn:hover {
  opacity: 0.9;
}

.delete_btn:hover {
  opacity: 0.9;
}

.edit_btn {
  background: #3b82f6;
  color: white;
}

.delete_btn {
  background: #ef4444;
  color: white;
}